.notfound-container {
  background: linear-gradient(to bottom, #000, #1a1a1a);
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.notfound-header {
  color: #fff !important;
  font-size: 3em !important;
  margin-bottom: 0.2em !important;
}

.notfound-subheader {
  color: #ccc !important;
  font-size: 1.3em !important;
  margin-bottom: 1.5em !important;
}

.back-button {
  font-weight: bold !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4) !important;
  transition: all 0.3s ease-in-out !important;
}

.back-button:hover {
  background-color: #ff7a2b !important;
  transform: scale(1.05);
}
